body {
  background-color: #50A2A7 ;
  text-align: center;
}

#title{
  color: #E4D6A7;
}

.lists {
background-color: #E9B44C;
border-radius: 20px;
display: inline-table;
margin: 20px;
color: #9B2915;
text-align: center;
padding: 10px;
width: 40%;
}

 #search {
  width: 80%;
  background-color: #E4D6A7;
  border-radius: 10px;
  border-color: #E4D6A7;
}

.button {
  background-color: #E4D6A7;
  border-radius: 10px;
  border-color: #E4D6A7;
}
